<%- include('../partials/header2.ejs') %>

<h2 class="page-header"><%= book.title %></h2>

<div class="book-details">
    <div>
        <img class="book-cover book-cover-user" src="<%= book.coverImagePath %>">
        <div class="book-details-btn-grid user-btn-grid">
            <a class="btn btn-primary book-details-author-button" href="/authors/user/<%= book.author.id %>">View Author</a>
        </div>
    </div>

    <div class="book-details-grid">
        <div class="book-details-label">Author: </div>
        <div><%= book.author.name %></div>
        <!-- author is accessible because of .populate in the route -->

        <div class="book-details-label">Publish Date: </div>
        <div><%= book.publishDate.toDateString() %></div>

        <div class="book-details-label">Page Count: </div>
        <div><%= book.pageCount %></div>

        <div class="book-details-label">Description: </div>
        <div><%= book.description %></div>
    </div>
</div>

