<h2> <%= author.name %> </h2>
<!-- author is a data/var provided from route -->
<a href="/authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {url : `/authors/${author.id}` }) %>
<!-- inluding a partial -->
<% if (booksByAuthor.length > 0) { %>
    <h2>Books By Author</h2>
    <div>
        <% booksByAuthor.forEach(book => { %>
            <a href="/books/<%= book.id %>">
                <img height="150" width="100" src="<%= book.coverImagePath %>">
                <!--book.coverImagePath is a virtual path from the model  -->
            </a>
        <% }) %>
    </div>
<% } %>  
<!-- bookByAuthor is a (looped) data/var provided from route/controller -->
